# pandas crash course

In [1]:
# series
import numpy
import pandas
myarray = numpy.array([1, 2, 3])
rownames = ['a', 'b', 'c']
myseries = pandas.Series(myarray, index=rownames)
print(myseries)

print(myseries[0])
print(myseries['a'])

a    1
b    2
c    3
dtype: int64
1
1

In [2]:
# dataframe
import numpy
import pandas
myarray = numpy.array([[1, 2, 3], [4, 5, 6]])
rownames = ['a', 'b']
colnames = ['one', 'two', 'three']
mydataframe = pandas.DataFrame(myarray, index=rownames, columns=colnames)
print(mydataframe)

   one  two  three
a    1    2      3
b    4    5      6

In [3]:
print("one column: %s" % mydataframe['one'])
print("one column: %s" % mydataframe.one)

one column: a    1
b    4
Name: one, dtype: int64
one column: a    1
b    4
Name: one, dtype: int64